@use "sass:math";
@import "constants";


button:not([disabled]) {
  cursor: pointer;
}

/**
 * Buttons
 */

.button {
  display: inline-block;
  padding: 0.75em 1em;
  border: none;
  box-shadow: 0 0.3em 0.75em -0.55em rgba(black, 0.5);

  background: $gray;
  color: black;
  font-weight: bold;
  text-decoration: none;

  border-radius: 0.25em;

  transition: opacity 0.2s;

  &[disabled],
  &:hover {
    opacity: 0.5;
  }

  &:focus {
    $x: 3px;
    outline: 0;
    box-shadow: 0 0 0 $x white, 0 0 0 (2 * $x) black;
    background: $yellow;
  }

  &::selection {
    color: white;
  }

  > img {
    width: auto;
    height: 1em;
    margin-right: 0.5ch;
  }
}

.button.button--slim {
  padding: 0.25em 0.5em;
  text-transform: none;
  border: 1px solid rgba(black, 0.15);
}

.button.button--danger {
  background: #ff3414;
  color: #fff;
}

.button.button--accent {
  // background: $green_chlorophyll;
  background: $blue_cyan;
  color: #fff;
  box-shadow: 0 0.3em 0.75em -0.55em rgba($blue_ocean-depth, 1);
}

.button--link {
  border: 0;
  background: transparent;
  text-decoration: underline;
  font-weight: bold;
  padding: 0.75em 1em;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.5;
  }
}

.button--subtle {
  background: none;
  border: 1px solid rgba(black, 0.25);

  &:focus {
    outline: 2px solid black;
  }
}
