@use "sass:math";
/*
 * Variables
 * =========================================== */

/*
 * Colors
 */

$background: #fff;
$gray: darken($background, 9%);
$pink: #f8b8c9;
$lightgray: darken($background, 4%);
$yellow: #fd0;

$type: #050505;

/*
 * Sizing
 */

$ratio: 1.5;
$s0: 1rem;
$s-1: math.div($s0, $ratio);
$s-2: math.div($s-1, $ratio);
$s-3: math.div($s-2, $ratio);
$s-4: math.div($s-3, $ratio);
$s-5: math.div($s-4, $ratio);
$s1: $s0 * $ratio;
$s2: $s1 * $ratio;
$s3: $s2 * $ratio;
$s4: $s3 * $ratio;
$s5: $s4 * $ratio;

$measure: 70ch;
$measure--wide: 1400px;


/*
 * Colors from the SLU Pallette
 * ===================================== */

// Reds
$red_apricot : #fbd7c9 ;
$red_coral : #ff585d ;
$red_rapsberry : #ce0037 ;
$red_plum : #672146 ;
$red_grape : #502b3a ;

// Greens
$green_linden: #d8ed96;
$green_apple: #c4d600;
$green_chlorophyll: #509e2f;
$green_olive: #79863c;
$green_forest: #154734;

// Blues
$blue_dove: #b9d3dc;
$blue_sky: #6ad1e3;
$blue_cyan: #00b0b9;
$blue_seabay: #007681;
$blue_ocean-depth: #004851;
// Yellows
$yellow_sunshine: #f6eb61;
$yellow_corn: #fce300;
$yellow_resin: #ffb81c;
$yellow_cinnamon: #996017;
$yellow_chocolate: #4b3d2a;

// Grays
$gray_feather: #d9d9d6;
$gray_mica: #bbbcbc;
$gray_concrete: #888b8d;
$gray_titan: #53565a;
