@use "sass:math";
@import "constants";

/*
 * Layout Primitives
 * =========================================== */

/* Box */
.box {
  padding: $s1;
}

.box * {
  color: inherit;
}

/* Center */
.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure, $measure);
}

.center--wide {
  max-width: $measure--wide;
}

/* Stack */
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: $s0;
}

.stack-s > * + * {
  margin-top: $s-2;
}

/* Cluster */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--end {
    justify-content: flex-end;
  }
}
