@use "sass:math";
@use "constants";


/*
 * Layout Primitives
 * =========================================== */

/* Box */
.box {
  padding: constants.$s1;
}

.box * {
  color: inherit;
}

/* Center */
.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure, constants.$measure);
}

.center--wide {
  max-width: constants.$measure--wide;
}

/* Stack */
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: constants.$s0;
}

.stack-s > * + * {
  margin-top: constants.$s-2;
}

.stack-l > * + * {
  margin-top: constants.$s2;
}

/* Cluster */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--end {
    justify-content: flex-end;
  }

  &--s-gap {
    gap: 0.25rem;
  }
  &--m-gap {
    gap: 0.5rem;
  }
}

