@use "sass:math";
@import "reset";
@import "constants";

/*
 * Base
 * =========================================== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

html {
  background: $background;
  color: $type;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: $ratio;
}

img {
  max-width: 100%;
  height: auto;
}

ol[class],
ul[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

hr {
  width: 100%;
  height: 2px;
  background: $gray;
  border: 0;
}

/*
 * Typography
 * =========================================== */

::selection {
  background: rgba(blue, 0.25);
  color: black;
}

a {
  color: inherit;
  font-weight: bold;
  transition: opacity 0.2s ease;
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    background: $yellow;
    box-shadow: 0 -2px $yellow, 0 4px #0b0c0c;
    outline: 2px solid transparent;
    text-decoration: none;
    color: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $s2;
}

h2 {
  font-size: $s1;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-weight: normal;
}

p {
  margin-bottom: 0.75em;
}

.hr-header {
  display: flex;
  align-items: center;
  gap: 1em;

  > * {
    flex: 0 0 auto;
    margin: 0 auto;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 4px;
    background: $gray;
    flex-grow: 1;
    flex-basis: auto;
  }

  &.hr-header--right-only {
    text-align: left;
    &::before {
      content: none;
    }
  }

  &.hr-header--left-only {
    text-align: right;
    &::after {
      content: none;
    }
  }
}

/*
 * Layout Primitives
 * =========================================== */

@import "layout-primitives";

/*
 * Button styles
 * =========================================== */

@import "button";

/*
 * Form styles
 * =========================================== */

@import "form";

/*
 * General
 * =========================================== */

#app {
  height: 100%;
  background: white;
}

.page-wrap {
  width: 95%;
  max-width: $measure--wide;
  margin: 0 auto;
}

/*
 * Top Bar
 * =========================================== */


.top-bar {
  width: 100%;
  padding: 1.5em 0;
  background: white;

  nav {
    padding: 0 1em;
  }
}

.top-bar__logo,
.top-bar__planeat-logo {
  display: inline-block;

  img {
    width: auto;
    height: 3em;
  }
}

.hero {
  background: $green_forest;
  color: white;
}

.hero__inner {
  padding: 10em 0;
  margin: 0 auto;

  h1 {
    font-weight: bold;
  }
}

.info-bar {
  border-bottom: 4px solid $gray;
  padding: 2em 0;
  background: white;
  margin-bottom: 2em;

  label {
    font-weight: bold;
  }

  select {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
  }
}


/*
 * Specifics
 * =========================================== */

.toggle {
  font-size: 0.75em;
  font-weight: bold;

  input:checked {
    ~.toggle__label--off {
      opacity: 0.5;
    }

    ~.toggle__label--on {
      opacity: 1;
    }
  }
}

.toggle__label--off,
.toggle__label--on {
  opacity: 0.75;
  transition: 0.2s opacity ease;
}

.toggle__label--on {
  opacity: 0.35;
}

.toggle__knob {
  $track-width: 3rem;
  $height: 1.5rem;
  $pad: 0.125rem;

  box-sizing: content-box;
  position: relative;
  border-radius: $height;
  height: $height;
  width: $track-width;
  background: white;
  border: 2px solid #ddd;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;

    top: $pad;
    left: $pad;
    width: ($height - 2 * $pad);
    height: ($height - 2 * $pad);
    border-radius: $height;
    background: $blue_cyan;
    transition: transform 0.3s ease;
    box-shadow: inset 0 0 0 2px rgba(black, 0.25);
  }

  input:checked~& {
    &::before {
      transform: translateX($track-width - $height - $pad);
    }
  }
}

/*
 * Helpers
 * =========================================== */

[hidden] {
  display: none;
}

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.u-faded {
  opacity: 0.5;
}

.u-no-underline {
  text-decoration: none;
}

.u-tar {
  text-align: right;
}

.u-tac {
  text-align: center;
}
